{% load static %}
{% load getattribute %}
	<head>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=" crossorigin="anonymous"></script>

	</head>

	<body> 
		<div class='jumbotron'>
			<h2> Attendance Management System</h2>
		</div>
		
		<div class='container'>
		
		<h4>
			{{date}} 
		</h4>
		
		<form action="../../../add/{{stri}}/{{st}}/" method="post">
			{% csrf_token %}
			
			<table class="table table-striped">
				<thead class='thead-dark'>
					<tr>
						<th scope="col">Rollno</th>
						<th scope="col">Name</th>
						<th scope="col">Attendance</th>
					</tr>
				</thead>
				
					<tbody>
						
							{% for i in data %}  
								<tr>
									<td> {{ i.rollno }} </td>
									<td> {{ i.name }} </td>
									<td>
											{% with y=forloop.counter0|stringformat:"s" %}
												{% with template="your_att"|add:y %}
													{{ form|getattribute:template }}
												{% endwith %}
											{% endwith %}
									</td>
								</tr>
							{% endfor %}
					</tbody>
			</table>
			<input type="submit" value="Submit"/>
			<input type="checkbox" onClick="toggle(this,'{{ check.name }}')"/>
        Select All
			</form>
		</div>
		
		<script type="text/javascript" >
	function toggle(source,name) {
  	  checkboxes = document.getElementsByName(name);
  	  for (var i = 0,
    	    n = checkboxes.length; i < n; i++) {
    	    checkboxes[i].checked = source.checked;
     }
     your_att0.checked = source.checked;
 }
</script>

		<script src="{% static 'login/vendor/jquery/jquery-3.2.1.min.js' %}"></script>
		<script src="{% static 'login/js/students.js' %}"></script>
		
	</body>